.about
  padding: 1.7rem 0

  // @media #{$media-sm-plus-up}
  //   padding: 5.7rem 0

  .menu__item-about
      border-bottom: 1px solid $color

  .menu__item-active
    border-bottom: 1px solid $color_accent

  &__content
    padding: 5.7rem 7.7rem 4.8rem 4.8rem

    @media #{$media-sm-plus-up}
      padding: 20.9rem 7.7rem 4.8rem 10.6rem

    @media #{$media-lg-up}
      padding: 30rem 7.7rem 4.8rem 14rem

  &__header-wrapper
    margin-bottom: 3.4rem

    @media #{$media-sm-plus-up}
      margin-bottom: 3rem

    @media #{$media-lg-up}
      margin-bottom: 1.8rem

  &__text-wrapper
    display: flex
    flex-direction: column

    @media #{$media-sm-plus-up}
      flex-direction: row


  &__slash
    color: $color_accent
    display: inline
    font-size: 3.1rem
    font-weight: 300

    @media #{$media-sm-plus-up}
      font-size: 5rem

    @media #{$media-lg-up}
      font-size: 6rem

  &__q
    color: $color_accent
    display: inline

  &__header
    display: inline
    font-size: 3.1rem
    margin-left: -0.7rem

    @media #{$media-sm-plus-up}
      font-size: 4.1rem
      margin-left: -1.3rem


    @media #{$media-lg-up}
      font-size: 5.2rem
      margin-left: -1rem

  &__logo
    margin: 0 auto
    display: block
    padding: 0

    @media #{$media-sm-plus-up}
      padding: 0 10.3rem
      margin: 0

    @media #{$media-lg-up}
      padding: 0 13.9rem


  &__text
    font-size: 2rem
    line-height: 2.5rem
    margin: 0 0 2rem

    @media #{$media-sm-plus-up}
      // width: 72%

  &__wrapper
    flex-basis: 50%

    @media #{$media-lg-up}
      padding: 0 13rem 0 0


  &__second-text
    flex-basis: 50%
    font-size: 2rem
    line-height: 2.5rem

    @media #{$media-sm-plus-up}
      padding: .8rem 0
      display: flex
      flex-direction: column
      margin: -2.5rem
      align-items: center

    @media #{$media-lg-up}
      padding: 3.1rem 0 0 8rem

  &__text-small
    font-size: 1.8rem
    line-height: 2.2rem
    margin-bottom: 2rem

    @media #{$media-sm-plus-up}
      margin: 0 0 2.4rem
      line-height: 2.5rem

    @media #{$media-lg-up}
      margin: 0 0 2.7rem
      width: 85%






  // @media #{$media-sm-plus-up}
  //   margin-bottom: 20rem

// .header-block
  
//   @media #{$media-sm-plus-up}
//     max-width: 53rem

//   @media #{$media-lg-up}
//     max-width: 74rem

// .header
//   color: $color_white
//   font-size: 3.6rem
//   line-height: 1.1em
//   font-family: 'Montserrat-Bold'

//   @media #{$media-sm-plus-up}
//     font-size: 5rem
//     line-height: 1em

//   @media #{$media-lg-up}
//     font-size: 7rem
//     line-height: 1em

//   .accent
//     font-family: 'Montserrat-Light'
//     font-weight: 300
//     color: $color_red

// .content
//   padding: 5rem
    
//   @media #{$media-sm-plus-up}
//     padding: 10.2rem 10.4rem