.contact
  background: linear-gradient(90deg, #61367B 0%, #2E2E6E 100%)
  display: flex
  flex-direction: column
  padding: 10rem 0
  overflow: hidden
  color: $color_white

  @media #{$media-sm-plus-up}
    padding: 15rem 0

  &__btn
    margin-top: -6.4rem

  &__mail
    color: #56CCF2
    display: block
    font-size: 1.6rem
    line-height: 1.6em
    text-decoration: none

  &__tel
    color: $color_white
    display: block
    font-size: 1.6rem
    line-height: 1.7em
    text-decoration: none

  &__adress
    font-size: 1.6rem
    line-height: 1.7em
    margin: 0 0 1.2rem

  &__image
    margin: 1rem

  &__image-wrapper
    margin-bottom: 4.8rem

  &__row
    display: flex
    flex-direction: column
    padding: 0 5rem

    @media #{$media-sm-plus-up}
      flex-direction: row
      padding: 0 0 0 11.3rem

    @media #{$media-sm-plus-up}
      padding: 0

  &__col
    justify-content: center

    @media #{$media-sm-plus-up}
      flex-basis: 50%
      
    &:nth-child(2)
      padding: 0

      @media #{$media-sm-plus-up}
        padding: 0 22rem 0 0

      @media #{$media-lg-up}
        padding: 11px 27rem 0 11px

    &:nth-child(1)
      padding: 0
      text-align: right

  &__content
    padding: 5.7rem 7.7rem 4.8rem 4.8rem

    @media #{$media-sm-plus-up}
      padding: 20.9rem 7.7rem 4.8rem 10.6rem

    @media #{$media-lg-up}
      padding: 30rem 7.7rem 4.8rem 14rem

  &__header-wrapper
    margin-bottom: 3.4rem

    @media #{$media-sm-plus-up}
      margin-bottom: 2.5rem

    @media #{$media-lg-up}
      margin-bottom: 2.2rem

  &__text-wrapper
    display: flex
    flex-direction: column

    @media #{$media-sm-plus-up}
      flex-direction: row


  &__slash
    color: $color_accent
    display: inline
    font-size: 3.1rem
    font-weight: 300

    @media #{$media-sm-plus-up}
      font-size: 5rem

    @media #{$media-lg-up}
      font-size: 6rem

  &__q
    color: $color_accent
    display: inline

  &__header
    display: inline
    font-family: 'Montserrat-Bold'
    font-size: 3.1rem
    margin-left: -0.7rem

    @media #{$media-sm-plus-up}
      font-size: 4.1rem
      margin-left: -1.3rem


    @media #{$media-lg-up}
      font-size: 5rem
      margin-left: -1rem

  &__subheader
    font-family: 'Montserrat-Bold'
    font-size: 2.6rem
    margin-bottom: 4.8rem

    @media #{$media-sm-plus-up}
    @media #{$media-lg-up}

  &__list
    .contact__list-item
      background: url(/img/list-img.svg) no-repeat left center
      font-size: 1.6rem
      padding-left: 3rem

  &__text-small
    font-size: 1.8rem
    line-height: 2.2rem
    margin-bottom: 2rem

    @media #{$media-sm-plus-up}
      margin: 0 0 2.4rem
      line-height: 2.5rem

    @media #{$media-lg-up}
      margin: 0 0 2.7rem
      width: 85%

  &__form
    max-width: 46rem

.form-group
  width: 100%
  margin-bottom: 1rem
  position: relative

  &:last-of-type
    margin-bottom: 3rem

  &__textarea, &__input
    background: transparent
    border: none
    border-radius: 0
    border-bottom: 1px solid #56CCF2
    color: $color_white
    display: block
    font-size: 1.6rem
    resize: none
    transition: height 300ms
    width: 100%
    outline: none
    padding: 0.3rem
    margin-bottom: 3rem

    &::placeholder
      font-size: 1.6rem
      color: $color_white
      margin: .5rem

  &__textarea
    height: 3rem

    &:valid
      height: 6rem

  &__label
    color: rgba(white, .5)
    cursor: text
    font-size: 1.6rem
    position: absolute
    top: 2.2rem
    transition: .25s ease

.side-text-wrapper
  position: relative

.side-text-contact
  color: transparent
  font-family: 'Montserrat-Bold'
  font-size: 9rem
  font-weight: 900
  left: -1rem
  position: absolute
  opacity: .5
  text-transform: uppercase
  bottom: 0
  transform: scale(-1, -1)
  white-space: nowrap
  writing-mode: vertical-rl
  -webkit-text-stroke: 1px #E5E5E5
  z-index: 0

  @media #{$media-sm-plus-up}
    font-size: 15rem
    bottom: -6rem
    left: 28rem