.development-page
  color: #fff
  &__top
    background: linear-gradient(90deg, rgba(46, 46, 110, 0.4) 0%, rgba(97, 54, 123, 0.4) 100%), top left / cover no-repeat url('/img/development-page_header.png')
    height: 45rem

  &__content
    background: linear-gradient(90deg, #443B75 0%, #583E7A 100%)
    padding: 5.3rem 26rem 0 0

  &__bg-tds
    background: linear-gradient(90deg, rgba(46, 46, 110, 0.4) 0%, rgba(97, 54, 123, 0.4) 100%),  top / cover no-repeat url("/img/development-page_bg-tds.png")

  &__bg-services
    background: linear-gradient(90deg, rgba(46, 46, 110, 0.4) 0%, rgba(97, 54, 123, 0.4) 100%),  top / cover no-repeat url("/img/development-page_bg-services.png")

  &__bg-solution
    background: linear-gradient(90deg, rgba(46, 46, 110, 0.4) 0%, rgba(97, 54, 123, 0.4) 100%),  top / cover no-repeat url("/img/development-page_bg-soution.png")

  &__bg-software
    background: linear-gradient(90deg, rgba(46, 46, 110, 0.4) 0%, rgba(97, 54, 123, 0.4) 100%),  top / cover no-repeat url("/img/development-page_bg-software.png")

  &__title-wrapper
    padding: 5rem 0 3rem 5rem
    max-width: 114rem
    margin-left: auto
    margin-right: 0

  &__gradient-one
    background: linear-gradient(90deg, #21204D 0%, #3A2453 100%)
    

  &__gradient-two
    background: linear-gradient(90deg, #443B75 0%, #583E7A 100%)
