*
	box-sizing: border-box

html
	color: $color
	font-size: 10px
	font-family: Montserrat

	@media #{$media-uhd-up}
		font-size: 20px

body
	font: $font
	margin: 0
	font-smoothing: antialiased
	tap-highlight-color: transparent

	&.fixed
		overflow: hidden

		&.client-ios
			position: fixed
			height: 100%
			width: 100%

section

a
	border: none
	outline: none
	// color: $main-color
	text-decoration: none

p
	font-size: 2rem
	line-height: 2.5rem

span

img
	border: none
	outline: none
	max-width: 100%
	vertical-align: middle

ul
	padding: 0

	li
		list-style: none

	&.list-inline
		& > li
			display: inline-block

h1, h2, h3, h4, h5, h6
	&:first-child
		margin-top: 0

h1
h2
h3
h4
h5
h6

hr
	border: 0
	display: block
	border-top: 1px solid $base-font-color
	height: 1px
	margin-top: 1rem
	margin-bottom: 1rem
	clear: both

label
	border-radius: 0

button, input, select, textarea, a
	font: $font
	font-size: 1rem

	&:focus,
	&:active
		outline-color: $main-color

//	SELECT
select
	appearance: none
	border: 1px solid $base-font-color
	outline-color: $main-color

	&:-moz-focusring
		color: transparent
		text-shadow: none
//	END SELECT

// INPUTS & TEXTAREA
input,
textarea
	outline-color: $main-color
	font: $font
	color: $base-font-color
	font-size: 1rem

	&::placeholder
		font: $font
		font-size: 1rem

textarea

input
	appearance: none

input[type='number']
	&::-webkit-outer-spin-button, &::-webkit-inner-spin-button
		-webkit-appearance: none
	-moz-appearance: textfield
//	END INPUTS & TEXTAREA


// GRID
.container
	overflow: hidden
	margin: 0 auto
	width: 80%

	@media #{$media-sm}
		padding-left: 1rem
		padding-right: 1rem
		width: 100%

.hidden
	display: none !important

.sm-hidden
	@media #{$media-sm}
		display: none !important

.xs-hidden
	@media #{$media-xs}
		display: none !important

// image-holder
.image-holder
	overflow: hidden
	position: relative
	text-align: center
	vertical-align: middle

	img
		object-fit: cover
		vertical-align: middle
		height: 100%
		width: 100%

	.fake-img
		opacity: 0
		position: relative
		height: 100%
		width: 100%
		z-index: 1

	.img
		background:
			position: 50% 50%
			repeat: no-repeat
			size: cover
		height: 100%
		position: absolute
		left: 0
		right: 0
		top: 0

.table-holder
	max-width: 100%
	overflow: auto

.flex-vertical
	display: flex
	height: 100%
	flex-flow: row wrap
	align-items: center
	justify-content: center

//	MARKUP
.align-center,
.text-center
	text-align: center

.align-right,
.text-right
	text-align: right

.align-left,
.text-left
	text-align: left

.pull-left
	float: left
.pull-right
	float: right

.nowrap
	white-space: nowrap

.clearfix
	&:before,
	&:after
		content: ''
		height: 0
		display: table
		clear: both


//helpers
.transparent
	background: transparent

.button-outline
	border: 1px solid $color_accent
	color: $color_accent
	font-size: 1rem
	letter-spacing: 0.3em
	padding: 1.2rem 2.4rem
	text-transform: uppercase
	text-decoration: none

.side-text
	font-family: 'Montserrat-Bold'
	font-size: 9.2rem
	font-weight: 900
	position: absolute
	-webkit-text-stroke: 1px $color
	color: $color_white
	-ms-writing-mode: tb-rl
	writing-mode: vertical-rl
	transform: scale(-1, -1)
	text-transform: uppercase
	right: -0.8rem
	top: 112vh
	white-space: nowrap
	opacity: .5
	z-index: -1

	@media #{$media-sm-plus-up}
		font-size: 13rem
		right: 47%
		top: 62vh

	@media #{$media-lg-up}
		font-size: 15rem
		top: 61vh

.side-text
	font-family: 'Montserrat-Bold'
	font-size: 9.2rem
	font-weight: 900
	position: absolute
	-webkit-text-stroke: 1px $color
	color: $color_white
	-ms-writing-mode: tb-rl
	writing-mode: vertical-rl
	transform: scale(-1, -1)
	text-transform: uppercase
	right: -0.8rem
	top: 112vh
	white-space: nowrap
	opacity: .5
	z-index: -1

	@media #{$media-sm-plus-up}
		font-size: 13rem
		right: 47%
		top: 62vh

	@media #{$media-lg-up}
		font-size: 15rem
		top: 61vh

.dual__row
	align-items: center
	display: flex
	flex-direction: column
	justify-content: center
	height: 100%

	@media #{$media-sm-plus-up}
		flex-direction: row

.dual__cel
	flex-basis: 50%
	height: 100%
	padding: 0 3rem

	&:nth-child(1)
		display: flex
		flex-direction: column
		align-items: center
		justify-content: flex-end

		@media #{$media-sm-plus-up}
			align-items: flex-end
			justify-content: center

	&:nth-child(2)
		display: flex
		flex-direction: column
		align-items: center
		justify-content: flex-start

		@media #{$media-sm-plus-up}
			align-items: flex-start
			justify-content: center

.header-wrapper
	text-transform: uppercase
	margin-bottom: 3rem
	text-align: center

	@media #{$media-sm-plus-up}
		margin-bottom: 7rem
		text-align: right

	&__slash
		color: $color_accent
		font-family: 'Montserrat'
		font-size: 4rem

		@media #{$media-sm-plus-up}
			margin-bottom: 6rem

	&__header
		color: $color
		display: inline
		font-family: 'Montserrat-Bold'
		font-size: 3rem

		@media #{$media-sm-plus-up}
			margin-bottom: 5rem


.title-wrapper
	margin-bottom: 2.1rem

	@media #{$media-sm-plus-up}
		margin-bottom: 2rem

	@media #{$media-lg-up}
		margin-bottom: 1.8rem

.title
	font-family: Montserrat-Bold
	font-size: 3rem
	line-height: 1.15em
	margin: 0

	@media #{$media-sm-plus-up}
		font-size: 3.95rem

	@media #{$media-lg-up}
		font-size: 5rem

	&__slash
		color: $color_accent
		font-family: Montserrat
		font-weight: 300

	&__accent
		color: $color_accent


.subtitle
	font-family: 'Montserrat-Bold'
	font-size: 1.6rem
	line-height: 1.6em
	margin: 0

	@media #{$media-sm-plus-up}
		font-size: 1.6rem


.text
	font-size: 1.6rem
	line-height: 1.4em
	margin: 0

	@media #{$media-sm-plus-up}
		font-size: 1.8rem
		line-height: 1.4em
		margin: 0

	&_bigger
		font-size: 2rem
		line-height: 1.25em
		margin: 0

		@media #{$media-sm-plus-up}
			margin: 0

	&_14-18
		font-size: 1.4rem
		line-height: 1.45em
		margin: 0

		@media #{$media-sm-plus-up}
			font-size: 1.8rem
			line-height: 1.4em

	&_14-16
		font-size: 1.4rem
		line-height: 1.45em
		margin: 0

		@media #{$media-sm-plus-up}
			font-size: 1.6rem
			line-height: 1.6em

	&_small
		font-size: 1.4rem
		line-height: 1.45em
		margin: 0

		@media #{$media-lg-up}
			font-size: 1.6rem
			line-height: 1.4em

	&_bold
		font-family: 'Montserrat-Bold'
		font-weight: 900
		line-height: 1.6em

.list
	margin: 0

	@media #{$media-sm-plus-up}
		margin: 0

	&__item
		background: url(/img/list-img.svg) no-repeat left top
		font-size: 1.4rem
		line-height: 1.4em
		margin-bottom: .6rem
		padding-left: 4.1rem

		@media #{$media-lg-up}
			font-size: 1.6rem
			line-height: 1.5em

.page-block
	width: 100%
	padding: 1rem 0

.page-block_dark
	background: linear-gradient(90deg, rgba(33, 32, 77, .3) 0%, rgba(58, 36, 83, .3) 100%)

.page-block_light
	background: linear-gradient(90deg, rgba(68, 59, 117, .3) 0%, rgba(88, 62, 122, .3) 100%)

.page-title
	font-size: 5rem
	line-height: 1em

.page-subtitle
	font-size: 3.2rem
	line-height: 1em

.page-text
	font-size: 1.8rem
	line-height: 1.6em

.page-text_bold
	font-family: 'Montserrat-Bold'

.page-text-light
	font-family: 'Montserrat-Light'

.page-image-block
	width: 100%
	min-height: 30rem

.page-wrapper
	max-width: 104rem
	margin-left: auto
	margin-right: 0

.page-big-title
	font-family: 'Montserrat-Bold'
	font-size: 9rem
	line-height: 1em
	margin: 0

.p-relative
	position: relative

.pt-0
	padding-top: 0 !important

.pt-50
	padding-top: 5rem !important

.pb-50
	padding-bottom: 5rem !important

.pb-0
	padding-bottom: 0 !important

.m-0
	margin: 0

.mb-50
	margin-bottom: 5rem

.mb-90
	margin-bottom: 9rem

.mb-280
	margin-bottom: 28rem

.mb-350
	margin-bottom: 35rem

.mt-0
	margin-top: 0 !important

.mt-22
	margin-top: 2.2rem !important

.mt-40
	margin-top: 4rem !important

.mt-50
	margin-top: 5rem !important

.mt-52
	margin-top: 5.2rem !important

.mt-54
	margin-top: 5.4rem

.mt-100
	margin-top: 10rem

.mr-40
	margin-right: 4rem


.page-dual__row
	display: flex
	flex-direction: column
	height: 100%

	@media #{$media-sm-plus-up}
		flex-direction: row

.page-dual__cel
	height: 100%

	&:nth-child(1)
		flex-basis: 41%
		padding: 0 3rem 0 0

		@media #{$media-sm-plus-up}

	&:nth-child(2)
		flex-basis: 59%
		padding: 0 0 0 4rem

		@media #{$media-sm-plus-up}
