.home
  background: url('/img/bg.png') right bottom / cover no-repeat
  margin-top: -14rem
  padding: 28.8rem 4.7rem 27.5rem

  @media #{$media-sm-plus-up}
    padding: 33.9rem 10.4rem

  @media #{$media-lg-up}
    padding: 38.2rem 14rem

  .__logo
    height: 3.3rem
    position: sticky
    top: 1.6rem
    left: 4.7rem
    margin: 10rem 0 0

.header-block
  max-width: 40rem

  @media #{$media-sm-plus-up}
    max-width: 53rem

  @media #{$media-lg-up}
    max-width: 74rem

.header
  color: $color_white
  font-size: 3.6rem
  line-height: 1.1em
  font-family: 'Montserrat-Bold'
  margin: 0

  @media #{$media-sm-plus-up}
    font-size: 5rem
    line-height: 1em

  @media #{$media-lg-up}
    font-size: 7rem
    line-height: 1em

  .accent
    font-family: 'Montserrat-Light'
    font-weight: 300
    color: $color_red

.content
  @media #{$media-sm-plus-up}
