.section
  background: url('/img/bg.png'), linear-gradient(90deg, #2E2E6E 0%, #61367B 100%) no-repeat
  background-size: cover
  background-position: right bottom
  height: 100vh

.logo
  margin-bottom: 11.3rem

.header
  color: $color_white
  font-size: 3.6rem
  line-height: 1.1em

.content
  padding: 4.7rem
