//----------------------------------
// DEV
//----------------------------------
*
  transition: all .3s
//----------------------------------
// END DEV
//----------------------------------


//----------------------------------
// DEMO
//----------------------------------
.demo-block
  @extend %col-2
  @extend %xs-col-1
//----------------------------------
// END DEMO
//----------------------------------

.preloader
  background: center no-repeat url('/img/logo.svg'), linear-gradient(90deg, #21204D 0%, #3A2453 100%)
  bottom: 0
  left: 0
  position: fixed
  right: 0
  top: 0
  z-index: 9999
  transition: transform 400ms

  &_loaded
    transform: translateX(100%)
    pointer-events: none

  .preloaderBar
    background: #56CCF2
    height: .2rem
    left: 0
    position: absolute
    right: 0
    top: 0
