.menu-content
  background-color: $color_white
  display: none
  height: 100%
  padding: 1.2rem 1.5rem
  position: fixed
  width: 100%
  z-index: 10

  &__img
    cursor: pointer
    z-index: 20

  &__logo
    padding-left: 8rem
    z-index: 20

.menu-show
  display: block

