.menu-content
  background-color: $color_white
  // display: none
  height: 0
  top: -100%
  padding: 1.2rem 1.5rem
  position: fixed
  transition: .5s
  width: 100%
  z-index: 10

  &__img
    cursor: pointer
    z-index: 20

  &__logo
    padding-left: 8rem
    z-index: 20

.menu-show
  height: 100%
  top: 0
