.menu-content
  background-color: $color_white
  height: 0
  top: -100%
  padding: 1.2rem 1.5rem
  position: fixed
  transition: .5s
  width: 100%
  z-index: -100
  text-align: center

  @media #{$media-sm-plus-up}
    text-align: left

  &__img
    cursor: pointer
    z-index: 20
    position: absolute
    top: .8rem
    left: 0
    padding: 1.5rem 0.6rem

    @media #{$media-sm-plus-up}
      padding: 1.5rem

  &__logo
    padding-left: calc(9vw - 4rem)
    z-index: 20

  &__item
    &:hover
      color: $color_accent

.menu-show
  height: 100%
  top: 0
  z-index: 101

.menu-bottom-text-wrapper
  position: absolute
  bottom: -4vw
  left: 0
  right: 0
  z-index: -10

.menu-bottom-text
  font-size: 11vw
  line-height: .8em
  color: transparent
  font-family: 'Montserrat-Bold'
  font-weight: 900
  text-transform: uppercase
  -webkit-text-stroke: 1px #cfcfcf
  white-space: nowrap

.menu-dual__cel
  align-items: flex-start
  display: flex
  flex-basis: 42%
  flex-direction: column
  justify-content: flex-start
  height: 100%
  padding: 0 3rem
  width: 100%

  @media #{$media-sm-plus-up}
    align-items: center

  &:nth-child(1)
    align-items: flex-start
    justify-content: flex-end

    @media #{$media-sm-plus-up}
      justify-content: center

  &:nth-child(2)
    @media #{$media-sm-plus-up}
      justify-content: center
      align-items: flex-start


.font-size-menu
  font-size: 3rem

  @media #{$media-lg-up}
    font-size: 5rem

.animation-section

.animation-row .animation-col-single,
.animation-row .animation-col-reverse,
.animation-row .animation-col
  opacity: 0
  transition: all 800ms

.animation-row .animation-col-reverse,
.animation-row .animation-col
  &:nth-of-type(1)
    transition-delay: .2s

.section_active .animation-col-single,
.section_active .animation-col-reverse,
.section_active .animation-col
  opacity: 1

.section_higher .animation-col-single
  transform: translate(0, 6rem)

.section_lower .animation-col-single
  transform: translate(0, -6rem)

.section_higher .animation-col
  &:nth-of-type(1)
    transform: translate(0, -6rem)

  &:nth-of-type(2)
    transform: translate(0, -6rem)

.section_lower .animation-col
  &:nth-of-type(1)
    transform: translate(0, 6rem)

  &:nth-of-type(2)
    transform: translate(0, 6rem)

.section_higher .animation-col-reverse
  &:nth-of-type(1)
    transform: translate(0, -6rem)

  &:nth-of-type(2)
    transform: translate(0, -6rem)

.section_lower .animation-col-reverse
  &:nth-of-type(1)
    transform: translate(0, 6rem)

  &:nth-of-type(2)
    transform: translate(0, 6rem)

