//----------------------------------
// Default navbar
//----------------------------------
.navbar
  position: fixed
  z-index: 100

  @media #{$media-sm-plus-up}
    display: block
    height: 100%
    left: 0
    padding: 1rem 0 0 1rem
    top: 0
    z-index: 1

  &__menu-image
    cursor: pointer
    position: fixed
    top: .7rem
    left: 0
    padding: 1.5rem 0.6rem

    @media #{$media-sm-plus-up}
      padding: 1.5rem

    &:hover 
      + .hover-logo
        display: block

.lines-menu
  display: none

  @media #{$media-sm-plus-up}
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%

  &__item
    cursor: pointer
    width: 2rem
    height: 1rem
    border-bottom: 1px solid $color_white
    margin-bottom: 4rem

  &__item-active
    width: 3rem
    border-bottom: 1px solid $color_red
