//----------------------------------
// Default navbar
//----------------------------------
.navbar
  padding: 1.7rem .8rem
  position: fixed
  margin: -.9rem 0

  @media #{$media-sm-plus-up}
    display: block
    height: 100vh
    padding: 1.7rem 2rem
    width: fit-content

  &__menu-image
    cursor: pointer

.menu
  display: none

  @media #{$media-sm-plus-up}
    display: block
    height: 100%
    padding: 23.3rem 0

  @media #{$media-lg-up}
    padding: 25rem 0

  &__item
    cursor: pointer
    width: 40%
    height: 1rem
    border-bottom: 1px solid $color_white
    margin-bottom: 4rem

  &__item-active
    width: 73%
    border-bottom: 1px solid $color_red

.logo-wrapper
  position: fixed
  padding: 0 0 0 8rem


.logo
  height: 2.7rem
  position: sticky
  top: 1.6rem
  left: 4.7rem
  margin: 10rem 0 0

  @media #{$media-sm-plus-up}
    left: 10.4rem

  @media #{$media-sm-plus-up}
    height: 3.4rem
    left: 13.7rem
