.outstaffing
  background: linear-gradient(90deg, rgba(46, 46, 110, .3) 0%, rgba(97, 54, 123, .3) 100%), top / contain no-repeat url(/img/outstaffing-img.png), linear-gradient(90deg, #21204D 0%, #3A2453 100%)
  display: flex
  flex-direction: column
  padding: 37rem 0 0
  overflow: hidden
  color: $color_white

  @media #{$media-sm-plus-up}
    background: linear-gradient(90deg, rgba(46, 46, 110, .3) 0%, rgba(97, 54, 123, .3) 100%), calc(50% + 42.5rem) no-repeat url(/img/outstaffing-img.png), linear-gradient(90deg, #21204D 0%, #3A2453 100%)
    padding: 9.1rem 0 4rem

  &__btn
    margin-top: -6.4rem

  &_mb-18
    margin-bottom: 1.8rem

  &_mb-23
    margin-bottom: 2.3rem

  &_lh-145
    line-height: 1.45em

  &__img
    height: 100%
    width: auto

  &__row
    background: linear-gradient(90deg, #21204D 0%, #3A2453 100%)
    display: flex
    flex-direction: column
    padding: 8.4rem 7.9rem 8.6rem 4.7rem

    @media #{$media-sm-plus-up}
      background: transparent
      flex-direction: row
      padding: 0

  &__col
    justify-content: center
    &:nth-child(1)
      padding: 0

      @media #{$media-sm-plus-up}
        flex-basis: 52%
        padding: 0 7px 0 13.8rem

    &:nth-child(2)
      padding: 0
      text-align: right

      @media #{$media-sm-plus-up}
        flex-basis: 48%

  &__content
    padding: 5.7rem 7.7rem 4.8rem 4.8rem

    @media #{$media-sm-plus-up}
      padding: 20.9rem 7.7rem 4.8rem 10.6rem

    @media #{$media-lg-up}
      padding: 30rem 7.7rem 4.8rem 14rem

  &__text-wrapper
    display: flex
    flex-direction: column

    @media #{$media-sm-plus-up}
      flex-direction: row

  &__wrapper
    @media #{$media-lg-up}
      padding: 0 13rem 0 0

.side-text-wrapper
  position: relative

.side-text-outstaffing
  color: transparent
  bottom: 0
  font-family: 'Montserrat-Bold'
  font-size: 9rem
  font-weight: 900
  position: absolute
  opacity: .5
  right: -1rem
  text-transform: uppercase
  transform: scale(-1, -1)
  white-space: nowrap
  writing-mode: vertical-rl
  -webkit-text-stroke: 1px #E5E5E5
  z-index: 0

  @media #{$media-sm-plus-up}
    font-size: 15rem
    left: calc(50% + 40rem)
