block vars
  - var navigation = 'about'

block content
  section.about(data-logo='img/logo-black.svg', data-menu='img/menu-black.svg', data-bg='white')
    .side-text-wrapper
      .side-text-about about voqus

    .about__row
      .about__col
        .title-wrapper
          h2.title
            span.title__slash /
            | about vo
            span.title__accent q
            | us
        p.text_bigger.about_mb-18 Voqus.net is an innovative software development and advertising company build on mutual trust and exceptional experience of our team members. 

      .about__col
        p.text_small.about_mb-20 The entrepreneurial skills and technology-driven atmosphere of our company makes it possible to bring the most challenging and crazy ideas to life. 
        p.text_small.about_mb-18 All this unites into powerful knowledge engine capable of producing unique solutions when it comes to web design, development or digital advertising.

    .about__row.about__btn
      a.button-outline(href='/') read more
