block vars
  - var navigation = 'about'

block content
  section.about(data-logo='img/logo-black.svg', data-menu='img/menu-black.svg')
    .side-text about voqus
    .about__row
      .about__col
        .about__wrapper
          .about__header-wrapper
            span.about__slash /
            h2.about__header 
              | about vo
              span.about__q q
              | us
          p.about__text Voqus.net is an innovative software development and advertising company build on mutual trust and exceptional experience of our team members. 
      .about__col
        .about__second-text
          p.about__text.about__text-small The entrepreneurial skills and technology-driven atmosphere of our company makes it possible to bring the most challenging and crazy ideas to life. 
          p.about__text.about__text-small All this unites into powerful knowledge engine capable of producing unique solutions when it comes to web design, development or digital advertising.
    .about__row.about__btn
      a.button-outline(href='/') read more
    

