.cache-images
  img(src="/img/logo.svg")
  img(src="/img/list-img.svg")
  img(src="/img/development_img.png")
  img(src="/img/adverticing_bg.png")
  img(src="/img/services_bg.png")
  img(src="/img/about-page_header.png")
  img(src="/img/about-page_bg-bottom.png")
  img(src="/img/outstaffing-page_header.png")
  img(src="/img/outstaffing-page_bg-bottom.png")
  img(src="/img/ap_header.png")
  img(src="/img/ap_bg-bottom.png")
  img(src="/img/ap_bg-marketing.png")
  img(src="/img/ap_bg-social.png")
  img(src="/img/ap_bg-display.png")
  img(src="/img/ap_bg-mobile.png")
  img(src="/img/bg.png")
  img(src="/img/development-page_header.png")
  img(src="/img/development-page_bg-tds.png")
  img(src="/img/development-page_bg-services.png")
  img(src="/img/development-page_bg-solution.png")
  img(src="/img/development-page_bg-software.png")
  img(src="/img/development-page_bg-operation.png")
  img(src="/img/outstaffing-img.png")
  img(src="/img/outsource-bg.png")
  img(src="/img/outsource-page_header.png")
  img(src="/img/outsource-page_bg-bottom.png")

