.cache-images
  img(src="/img/logo.svg")
  img(src="/img/list-img.svg")
  img(src="/img/development_img.jpg")
  img(src="/img/adverticing_bg.jpg")
  img(src="/img/services_bg.jpg")
  img(src="/img/about-page_header.jpg")
  img(src="/img/about-page_bg-bottom.jpg")
  img(src="/img/outstaffing-page_header.jpg")
  img(src="/img/outstaffing-page_bg-bottom.jpg")
  img(src="/img/ap_header.jpg")
  img(src="/img/ap_bg-bottom.jpg")
  img(src="/img/ap_bg-marketing.jpg")
  img(src="/img/ap_bg-social.jpg")
  img(src="/img/ap_bg-display.jpg")
  img(src="/img/ap_bg-mobile.jpg")
  img(src="/img/bg.jpg")
  img(src="/img/development-page_header.jpg")
  img(src="/img/development-page_bg-tds.jpg")
  img(src="/img/development-page_bg-services.jpg")
  img(src="/img/development-page_bg-solution.jpg")
  img(src="/img/development-page_bg-software.jpg")
  img(src="/img/development-page_bg-operation.jpg")
  img(src="/img/outstaffing-img.jpg")
  img(src="/img/outsource-bg.jpg")
  img(src="/img/outsource-page_header.jpg")
  img(src="/img/outsource-page_bg-bottom.jpg")

