include mixins

block vars
  - var navigation = 'contact'

block content
  section#contact.contact.section-content(data-logo='img/logo.svg', data-menu='img/menu.svg', data-id='contact')
      #contact-content.section-row.hiddenContent
        .section-col.jc-center
          .section-block.hide-mobile
            span.section-block__text.section-block__text-contact.section-block__text-transparent.text-parallax contact us
            .section-block__text-wrapper
              .section-block-contact__bg.box-parallax
              span.section-block__text.section-block__text-contact.section-block__text-white.text-parallax contact us

        .section-col
          .section_row
              .section_col

              .section_col
                span.accent-text-contact.hide-desktop contact us
                .contact__title-wrapper
                  .title-wrapper
                      h2.title
                        span.title__slash /
                        | contact us

                a.contact__mail(href='mailto:info@voqus.net') info@voqus.net
                a.contact__tel(href='tel:+38 098 765 4321') +38 098 765 4321 
                p.contact__adress Lobanovskyi Ave, 6A, 03037, Kyiv, Ukraine

                .contact__image-wrapper
                  img.contact__image(src="img/facebook.svg", alt="facebook")
                  img.contact__image(src="img/twitter.svg", alt="twitter")
                  img.contact__image(src="img/telegram.svg", alt="telegram")
                  img.contact__image(src="img/viber.svg", alt="viber")

                p.subtitle.contact__subtitle If you have any questions, please contact us

                form.contact__form(action="")

                  .form-group
                    input.form-group__input(type="text" id="email" placeholder="E-mail" autocomplete="off" )
                    span.form-email-error

                  .form-group
                    input.form-group__input(type="text" id="name" placeholder="Name" autocomplete="off")
                    span.form-name-error

                  .form-group
                    textarea.form-group__textarea(id="message", placeholder="Message" autocomplete="off" required)
                    span.form-error
                  button.button-outline.transparent(type='submit') Send feedback
