block vars
  - var navigation = 'development'

block content
  section.development(data-logo='img/logo.svg', data-menu='img/menu.svg')
    .side-text development
    .development__row
      .development__col
        .development__wrapper
          .development__header-wrapper
            span.development__slash /
            h2.development__header development
          p.development__text Our ad tech experts have been engaged in development of customized platform solutions for different clients across the globe. 
          p We obtained enormous expertise in creating DSP/SSP, Open RTB and TDS platforms as well as Ad fraud/Scoring software. Our tech team is open to any challenges and can handle even the most complicated task set by a client. 
      .development__col
        .development__second-text
          p.development__text.development__text-small The entrepreneurial skills and technology-driven atmosphere of our company makes it possible to bring the most challenging and crazy ideas to life. 
          p.development__text.development__text-small All this unites into powerful knowledge engine capable of producing unique solutions when it comes to web design, development or digital advertising.
    .development__row.development__btn
      a.button-outline(href='/') read more
    

