block vars
  - var navigation = 'development'

block content
  section.development(data-logo='img/logo.svg', data-menu='img/menu.svg', data-bg='linear-gradient(90deg, #21204D 0%, #3A2453 100%)')
    .development__row
      .development__col
        .title-wrapper
          h2.title
            span.title__slash /
            | development

        p.text_small.development_mb-10 Our ad tech experts have been engaged in development of customized platform solutions for different clients across the globe. 
        p.text_small.development_mb-18 We obtained enormous expertise in creating DSP/SSP, Open RTB and TDS platforms as well as Ad fraud/Scoring software. Our tech team is open to any challenges and can handle even the most complicated task set by a client. 
      
        p.text.text_small.text_bold.development_mb-20 Our core development services include:
        ul.list.development_mb-20
          li.list__item website and web application development;
          li.list__item ad fraud detection software tools;
          li.list__item ad operation tools;
          li.list__item SSP/DSP development;
          li.list__item Open RTB development;

        p.text.text_small.text_bold.development_lh-145.development_mb-20 We always set incredibly high goals for our clients and our primary purpose is to meet our client’s lofty expectations.
        a.button-outline(href='/') read more
      .development__col

    .side-text-wrapper
      .side-text-development development
