include mixins

block vars
  - var navigation = 'development'

block content
  section#development.development.section-content.animation-section(data-id='development')
      #development-content.section-row-reverse.hiddenContent.animation-row
        +accentMobileLeftWord('development')
        .section-col-reverse.animation-col
          .section_row
            .section_col-left
              
              .development__title-wrapper
                .title-wrapper
                  h2.title
                    span.title__slash /
                    | development

              p.text_small.development_mb-10-14 Our ad tech experts have been engaged in development of customized platform solutions for different clients across the globe. 
              p.text_small.development_mb-18 We obtained enormous expertise in creating DSP/SSP, Open RTB and TDS platforms as well as Ad fraud/Scoring software. Our tech team is open to any challenges and can handle even the most complicated task set by a client. 
            
              p.text.text_small.text_bold.development_mb-20 Our core development services include:
              ul.list.development_mb-20
                li.list__item website and web application development;
                li.list__item ad fraud detection software tools;
                li.list__item ad operation tools;
                li.list__item SSP/DSP development;
                li.list__item Open RTB development;

              p.text.text_small.text_bold.development_mb-20 We always set incredibly high goals for our clients and our primary purpose is to meet our client’s lofty expectations.
              a.button-outline(href='development.html') read more
            
            .section_col-left
              

        .section-col-reverse.animation-col
          
          +accentTestLeftWord('development', '/img/development_img.png')
          //- +accentLeftWord('development', '/img/development_img.png')(class='section-col_development')
