include mixins

block vars
  - var navigation = 'home'

block content
  section#hero.home.section-content.pt-50.pb-50.animation-section(data-menu='img/menu.svg', data-bg='linear-gradient(90deg, #2E2E6E 0%, #61367B 100%)', data-id='hero')
    #hero-content.home__content
      img.home__logo(src='img/logo.svg', id='logo')
      .header-block.pl-5
        h1.header 
          | outsourcing 
          span.accent & 
          | advertising services
