block vars
  - var navigation = 'home'

block content
  section.home(data-logo='img/logo.svg', data-menu='img/menu.svg', data-bg='linear-gradient(90deg, #2E2E6E 0%, #61367B 100%)')
    //- block navigation
        //- include navigation
    .content
      .header-block
        h1.header 
          | outsourcing 
          span.accent & 
          | advertising services
