block vars
  - var navigation = 'home'

block content
  section.home
    block navigation
        include navigation
    .content
      .header-block
        h1.header 
          | outsourcing 
          span.accent & 
          | advertising services
