block vars
  - var navigation = 'home'

block content
  section.home(data-logo='img/logo.svg', data-menu='img/menu.svg')
    //- block navigation
        //- include navigation
    .content
      .header-block
        h1.header 
          | outsourcing 
          span.accent & 
          | advertising services
