#menu-content.menu-content
  img.menu-content__img(id='menu-close', src='img/menu-black.svg', alt="Menu")
  img.menu-content__logo(src='img/logo-black.svg')
  .dual__row
    .dual__cel
      a.header-wrapper(href='about.html')
        span.header-wrapper__slash /
        h2.header-wrapper__header about voqus
      a.header-wrapper(href='contact.html')
        span.header-wrapper__slash /
        h2.header-wrapper__header contact us
      .header-wrapper
        span.header-wrapper__slash /
        h2.header-wrapper__header advertising & consulting

    .dual__cel
      a.header-wrapper(href='development.html')
        span.header-wrapper__slash /
        h2.header-wrapper__header development
      .header-wrapper
        span.header-wrapper__slash /
        h2.header-wrapper__header outsource
      .header-wrapper
        span.header-wrapper__slash /
        h2.header-wrapper__header outstaffing
