block vars
	//- - var navigation = 'home'
block content
	.navbar
		img.navbar__menu-image(id='menu-image', src='img/menu.svg', alt="Menu")
		.lines-menu
			a.lines-menu__item.lines-menu__item-active(href='#hero', data-link='hero')
				.pb-1.pt-1
			a.lines-menu__item(href='#about', data-link='about')
				.pb-1.pt-1
			a.lines-menu__item(href='#services', data-link='services')
				.pb-1.pt-1
			a.lines-menu__item(href='#development', data-link='development')
				.pb-1.pt-1
			a.lines-menu__item(href='#outsource', data-link='outsource')
				.pb-1.pt-1
			a.lines-menu__item(href='#outstaffing', data-link='outstaffing')
				.pb-1.pt-1
			a.lines-menu__item(href='#contact', data-link='contact')
				.pb-1.pt-1
