block vars
	//- - var navigation = 'home'
block content
	.navbar
		img(id='menu', src='img/menu.svg', alt="Menu")
		.menu
			.menu__item.menu__item-active
			.menu__item
			.menu__item
			.menu__item
			.menu__item
