block vars
  - var navigation = 'outstaffing'

block content
  section.outstaffing(data-logo='img/logo.svg', data-menu='img/menu.svg', data-bg='linear-gradient(90deg, #21204D 0%, #3A2453 100%)')
    .outstaffing__row
      .outstaffing__col
        .outstaffing__wrapper
          .outstaffing__header-wrapper
            span.outstaffing__slash /
            h2.outstaffing__header outstaffing
          p.outstaffing__text Our ad tech experts have been engaged in outstaffing of customized platform solutions for different clients across the globe. 
          p.outstaffing__text We obtained enormous expertise in creating DSP/SSP, Open RTB and TDS platforms as well as Ad fraud/Scoring software. Our tech team is open to any challenges and can handle even the most complicated task set by a client. 
        h3.outstaffing__subheader Our core outstaffing services include:
        ul.outstaffing__list
          li.outstaffing__list-item A qualified individual is hired without dealing with any legal stuff, taxation and other paper work.
          li.outstaffing__list-item You can always change the amount of employees for the project when you’re using an outstaffing company. 
          li.outstaffing__list-item ou can always track an activity and performance of a certain employee and make changes if there’s a need.
          li.outstaffing__list-item You can cut down your expenses for a certain employee.
          li.outstaffing__list-item Complete control over the project.
          li.outstaffing__list-item Direct control of your employees via online conferences, etc.
          li.outstaffing__list-item No additional fees comparing to outsourcing.

        h3.outstaffing__subheader We always set incredibly high goals for our clients and our primary purpose is to meet our client’s lofty expectations.
        a.button-outline(href='/') read more
      .outstaffing__col
        //- img.outstaffing__img(src="img/outstaffing-img.png", alt="")
    .side-text-wrapper
      .side-text-outstaffing outstaffing
