block vars
  - var navigation = 'outsource'

block content
  section.outsource(data-logo-visibility= 'true', data-logo='img/logo.svg', data-menu='img/menu.svg', data-bg='linear-gradient(90deg, #21204D 0%, #3A2453 100%)')
    .content
      .outsource__row

        .outsource__col
          .section-block
            span.section-block__text.section-block__text-left.section-block__text-transparent.text-parallax outsource
            .section-block__text-wrapper
              img.section-block__image.box-parallax(src="/img/outsource-img.png", alt="outsource")
              span.section-block__text.section-block__text-left.section-block__text-white.text-parallax outsource

        .outsource__col
          .section_row
            .section_col

              .section-block-mobile
                span.section-block-mobile__text.section-block-mobile__text-transparent.bottom--35.text-parallax-mobile outsource
                .section-block-mobile__text-wrapper
                  .section-block-mobile__bg
                  span.section-block-mobile__text.section-block-mobile__text-white.bottom--35.text-parallax-mobile outsource

            .section_col.section_col_outsource
              .outsource__wrapper
                .title-wrapper
                  h2.title
                    span.title__slash /
                    | outsource

              p.text_small.outsource_lh-lg-15.outsource_mb-18 IT Outsourcing or Business Process Outsourcing (BPO) refers to a practice of hiring a 3rd party company or an employee outside the house to handle some tasks or a set of activities for your company.
              p.text.text_small.text_bold.outsource_mb-sm20-lg23 The core benefits of using our outsourcing services:
              .outsource__list-wrapper
                ul.list
                  li.list__item Our staff workers are multi-lingual.
                  li.list__item Save your company’s investments and gain more value for your own employees.
                  li.list__item Our inhouse experts can handle any sophisticated task since they are skilled and experienced to complete a job perfectly even if it’s complicated or requires more time than expected.
                  li.list__item Confidentiality guaranteed.

              p.text_small.text_bold.outsource_lh-145.outsource_mb-18 Our staff workers work strictly in a secure environment so all the projects are kept confidential and all the data is kept within the company and is not disclosed to any 3rd parties.
              a.button-outline(href='outsource.html') read more
