block vars
  - var navigation = 'outsource'

block content
  section.outsource(data-logo='img/logo.svg', data-menu='img/menu.svg', data-bg='linear-gradient(90deg, #21204D 0%, #3A2453 100%)')
    .outsource__row
      .outsource__col
      .outsource__col
        .outsource__wrapper
          .outsource__header-wrapper
            span.outsource__slash /
            h2.outsource__header outsource
          p.outsource__text IT Outsourcing or Business Process Outsourcing (BPO) refers to a practice of hiring a 3rd party company or an employee outside the house to handle some tasks or a set of activities for your company.
        h3.outsource__subheader The core benefits of using our outsourcing services:
        ul.outsource__list
          li.outsource__list-item Our staff workers are multi-lingual.
          li.outsource__list-item Save your company’s investments and gain more value for your own employees.
          li.outsource__list-item Our inhouse experts can handle any sophisticated task since they are skilled and experienced to complete a job perfectly even if it’s complicated or requires more time than expected.
          li.outsource__list-item Confidentiality guaranteed.

        h3.outsource__subheader Our staff workers work strictly in a secure environment so all the projects are kept confidential and all the data is kept within the company and is not disclosed to any 3rd parties.
        a.button-outline(href='/') read more
    .side-text-wrapper
      .side-text-outsource outsource
