include mixins

block vars
  - var navigation = 'outstaffing'

block content
  section#outstaffing.outstaffing.section-content.animation-section(data-logo-visibility= 'true', data-logo='img/logo.svg', data-menu='img/menu.svg', data-id='outstaffing')
      #outstaffing-content.section-row-reverse.hiddenContent.animation-row
        .section-col-reverse.animation-col-reverse
          +accentMobileLeftWord('outstaffing')
          .section_row
            .section_col-left
              .outstaffing__wrapper.outstaffing_mb-23-29
                .outstaffing__title-wrapper
                  .title-wrapper
                    h2.title
                      span.title__slash /
                      | outstaffing

                p.text_small.outstaffing_mb-18-23 Outstaffing term means that an outstaffing company hires all the expert individuals who are handling your project and a company or individual will be directly responsible for the quality of completed task or project. 
                p.text_small.text_bold.outstaffing_mb-18-23 The core benefits of using outstaffing services:

                ul.list
                  li.list__item A qualified individual is hired without dealing with any legal stuff, taxation and other paper work.
                  li.list__item You can always change the amount of employees for the project when you’re using an outstaffing company. 
                  li.list__item ou can always track an activity and performance of a certain employee and make changes if there’s a need.
                  li.list__item You can cut down your expenses for a certain employee.
                  li.list__item Complete control over the project.
                  li.list__item Direct control of your employees via online conferences, etc.
                  li.list__item No additional fees comparing to outsourcing.

              p.text.text_small.text_bold.outstaffing_mb-18 We always set incredibly high goals for our clients and our primary purpose is to meet our client’s lofty expectations.
              a.button-outline(href='outstaffing.html') read more

            .section_col-left

        .section-col-reverse.animation-col-reverse
          +accentTestLeftWord('outstaffing', '/img/outstaffing-img.jpg')
