doctype html
html(lang='en')
	block vars
	head
		title #{title}
		block head
			include head
	body(class= bodyClass)
		block noscript
			include noscript

		block mixins
			include mixins

		block page-content

		block footer
			include menu
			include navigation-page
			include contact-section

		block modals
			include modals

	block scripts
		include scripts
