block vars
  - var navigation = 'services'

block content
  section.services(data-logo-visibility= 'true', data-logo='img/logo.svg', data-menu='img/menu.svg', data-bg='linear-gradient(90deg, #21204D 0%, #3A2453 100%)')
    .content
      .services__row
        .services__col
          .section-block
            span.section-block__text.section-block__text-transparent.text-parallax advertising
            .section-block__text-wrapper
              img.section-block__image.box-parallax(src="/img/services_bg.png", alt="advertising")
              span.section-block__text.section-block__text-white.text-parallax advertising

        .services__col
          .section_row
            .section_col

              .section-block-mobile
                span.section-block-mobile__text.section-block-mobile__text-transparent.text-parallax-mobile advertising
                .section-block-mobile__text-wrapper
                  .section-block-mobile__bg
                  span.section-block-mobile__text.section-block-mobile__text-white.text-parallax-mobile advertising

            .section_col

              .services__wrapper
                .title-wrapper
                  h2.title
                    span.title__slash /
                    | advertising and consulting services
                p.text_14-16.services_mb-23 We have our in-house ad tech team with proved experience in executing advertising campaigns, providing website optimization and consulting services to various clients. Our advertising services include but not limited to: social media, SEO, PPC advertising, mobile marketing, display advertising etc.

              ul.list.services_mb-20
                li.list__item.services__text-smaller Search Engine Optimization (SEO) Marketing
                li.list__item.services__text-smaller Pay-Per-Click (PPC) Marketing
                li.list__item.services__text-smaller Social Media Marketing
                li.list__item.services__text-smaller Display Advertising
                li.list__item.services__text-smaller Mobile Marketing

              .services__subtitle-wrapper
                p.text.text_bold.services__text-small Our marketing team will eagerly help to adapt your mobile marketing strategy and save your client’s budget. We provide mobile marketing services of any level and kind, depending on your client goals and can build long lasting relationship with them and offer the right solution meeting your sophisticated business needs.

              a.button-outline(href='advertising.html') read more


            
    //- .side-text-wrapper
    //-   .side-text-services services
