extends partials/page

block vars
  - var title = 'Contact Us'

block page-content
  section.about-page__top

  section.about-page__content

    .about-page__title-wrapper
      h2.title.title_page
        span.title__slash /
        | about vo
        span.title__accent q
        | us