extends partials/page

block vars
  - var title = 'Advertising'

block page-content
  span#logo-wrapper.logo-wrapper.logo-visible
    a(href="index.html")
      img(src='img/logo.svg', id='logo')

  .advertising-page
    .advertising-page__top
      //- .page-accent
      //-   span.page-accent__text.page-accent__text-transparent.text-parallax Advertising
      //-   .page-accent__text-wrapper
      //-     .page-accent__bg.box-parallax
      //-     span.page-accent__text.page-accent__text-white.text-parallax Advertising


    .development-page__content.advertising-page__gradient-one.mt-0
      +pageSideText('Advertising')
      +pageTitle('advertising and consulting services')

      .page-block.page-wrapper
          p.page-text We have our in-house ad tech team with proved experience in executing advertising campaigns, providing website optimization and consulting services to various clients. Our advertising services include but not limited to: social media, SEO, PPC advertising, mobile marketing, display advertising etc.  

      .page-block.page-wrapper.mt-34.mt-lg-54
        h2.page-big-title.mb-30 Search Engine Optimization (SEO) Marketing

      .page-block
        p.page-text.page-text-light Voqus.net has significant SEO experience which makes it possible for our clients to get to the top of search engine results pages (SERPs). This open up great opportunities for many businesses and can boost your company’s revenue to unbelievable heights. 
        p.page-text.page-text-light Our SEO team always stays up to date with the latest technologies involved related to website optimization so it’s easy to stay on top of the game if you know the right tools and know how a specific website should be optimized. 
        p.page-text.page-text-light Every SEO company needs to stay ahead of time. Search Engines never look back and are constantly evolving, their algorithms are changing rapidly and we need to predict their behavior to make our clients stay on top of search engine results.  
        p.page-text.page-text-light You can leave your worries away and hand in your web project to our expert SEO team. We will analyze it and pick up an action plan that will exactly fit your recent needs. 

    .development-page__content.advertising-page__gradient-two.pt-0
      .ds-wrapper
        +pageSubheader('Pay-Per-Click (PPC) Marketing')(class='advertising-page__bg-marketing page-image-block__top')

      .page-block
        p.page-text.mt-34.mt-lg-54 Whenever you have plans to bring targeted traffic to your website, creating PPC campaign will be a great solution. PPC campaigns is an effective way of driving targeted traffic and this can be accomplished by buying traffic through different social media platforms or other ad networks. 
        p.page-text This might seem easy at first sight but running a successful PPC campaign requires lots of skills like proper keyword research, well-written PPC ads, campaign creation, setting up, day-to-day performance monitoring and testing.
        p.page-text We can develop, execute PPC campaign of any level and difficulty. This will save your time so you can concentrate more on your daily business needs.

    .development-page__content.advertising-page__gradient-one.pt-0
      +pageSubheader('Social Media Marketing')(class='advertising-page__bg-social')

      .page-block
        p.page-text Social Media has become an inseparable part in the digital marketing strategy of every business. You can buy traffic through Google or Facebook only or rely only on search engine optimization but if you’re not missing out on Social Media tools would be a failure. 
        p.page-text Social Media advertising is an essential tool to get your visibility on social media platforms like Facebook, Tweeter or Instagram to a next level. Paying for advertising is a great way to reach the audience that you won’t be able to reach organically. 
        p.page-text We can do any of the following social media campaigns: YouTube, Instagram, Twitter, Pinterest, Facebook, LinkedIn and many more. 
        p.page-text Whether you’re just started your social media activity or want to boost your social media presence, our ad tech experts are available to assist you in any of your efforts. 


    .development-page__content.advertising-page__gradient-two.pt-0
      .ds-wrapper
        +pageSubheader('Display Advertising')(class='advertising-page__bg-display page-image-block__top')

      .page-block
        p.page-text We’ve been providing display advertising services of any difficulty level. By creating display campaign you’re not only driving impressions to your website, your target is to get the right message to the right audience. 
        p.page-text The core goal of running a display ad campaigns are increasing sales volume, ROI, customer engagement and boosting brand awareness of your product


    .development-page__content.advertising-page__gradient-one.pt-0.pb-0
      +pageSubheader('Mobile Marketing')(class='advertising-page__bg-mobile')

      .page-block
        p.page-text There’s no doubt that smart mobile devices are spreading rapidly nowadays and your ad strategy should be customized and adapted to user’s mobile behavior. 
        p.page-text With the latest mobile trends in the advertising world, it’s highly essential to realize how to build an effective mobile campaign to boost your brand engagement. 
        p.page-text.mb-30 With more engagement, you get more advertising dollar and deliver the right audience across all the devices, boost your branding campaign to a completely new level.


      .page-block.page-block_dark.pt-40.pb-50.pr-30
        p.page-subtitle.page-text_bold Our marketing team will eagerly help to adapt your mobile marketing strategy and save your client’s budget. We provide mobile marketing services of any level and kind, depending on your client goals and can build long lasting relationship with them and offer the right solution meeting your sophisticated business needs.