extends partials/page

block vars
  - var title = 'advertising'

block page-content
  section.advertising-page

    .advertising-page__top

    .advertising-page__content.advertising-page__gradient-one.mt-0
      .advertising-page__title-wrapper
        h2.title.page-title
          span.title__slash /
          | advertising

      .page-block.mt-22
        .page-wrapper
          p.page-text.page-text-light We have our in-house ad tech team with proved experience in executing advertising campaigns, providing website optimization and consulting services to various clients. Our advertising services include but not limited to: social media, SEO, PPC advertising, mobile marketing, display advertising etc.  
          h2.page-big-title Search Engine Optimization (SEO) Marketing

          p.page-text.page-text-light Voqus.net has significant SEO experience which makes it possible for our clients to get to the top of search engine results pages (SERPs). This open up great opportunities for many businesses and can boost your company’s revenue to unbelievable heights. 
          p.page-text.page-text-light Our SEO team always stays up to date with the latest technologies involved related to website optimization so it’s easy to stay on top of the game if you know the right tools and know how a specific website should be optimized. 
          p.page-text.page-text-light Every SEO company needs to stay ahead of time. Search Engines never look back and are constantly evolving, their algorithms are changing rapidly and we need to predict their behavior to make our clients stay on top of search engine results.  
          p.page-text.page-text-light.mb-280 You can leave your worries away and hand in your web project to our expert SEO team. We will analyze it and pick up an action plan that will exactly fit your recent needs. 
    
    .advertising-page__content.advertising-page__gradient-two.pt-0
      .page-image-block.advertising-page__bg-marketing.advertising-page__bg-position-one
      .page-wrapper.advertising-page__title-marketing-position
        h2.page-big-title Pay-Per-Click (PPC) Marketing

          p.page-text Whenever you have plans to bring targeted traffic to your website, creating PPC campaign will be a great solution. PPC campaigns is an effective way of driving targeted traffic and this can be accomplished by buying traffic through different social media platforms or other ad networks. 
          p.page-text This might seem easy at first sight but running a successful PPC campaign requires lots of skills like proper keyword research, well-written PPC ads, campaign creation, setting up, day-to-day performance monitoring and testing.
          p.page-text We can develop, execute PPC campaign of any level and difficulty. This will save your time so you can concentrate more on your daily business needs.


    .advertising-page__content.advertising-page__gradient-one.pt-0
      .page-image-block.advertising-page__bg-social.advertising-page__bg-position-two
        .page-wrapper.advertising-page__title-social-position
          h2.page-big-title.advertising-page__title-social-position Social Media Marketing


    .advertising-page__content.advertising-page__gradient-one.pt-0
      .page-image-block.advertising-page__bg-services
        .page-wrapper
          h2.page-big-title.advertising-page__title-services-position Custom DSP advertising Services

      .page-wrapper.mt-100
        p.page-text Get rid of commissions paid to 3rd party DSP/SSP companies and safe your time connecting to intermediaries for weeks, gain more control over your data and your media buying/selling process.

        .page-dual__row
          .page-dual__cel
            h4.page-subtitle.mt-22 Custom DSP gives you a wide range of opportunities: 
          .page-dual__cel
            p.page-text Save even more on media buys: Minimize fees paid to external DSP companies and calculate cost more accurately of each media purchase you do.
            p.page-text Full platform customization: create your own custom trading strategies, optimize algorithms more accurately, create custom features to get your ad/targeting performance to a new level.
            p.page-text Boost your revenue: You can sell your custom DSP to clients, therefore, driving more revenue to your company.
            p.page-text Complete integration with other ad tech platforms: you can keep all your media-buying activity in house by integrating your custom DSP with other similar platforms.
            p.page-text We possess a unique experience, in-depth knowledge of building, designing and maintaining successful DSP projects for more than 5 years. Our experienced ad tech team can help you solve your business needs by crafting a custom DSP platform in accordance with your particular demands. 

        .page-dual__row
          .page-dual__cel 
            h4.page-subtitle.mt-22 Custom SSP advertising Services
          .page-dual__cel
            p.page-text A key goal of an SSP is to help publishers manage programmatic/unsold inventory, boost its revenue and sell it to the right 3rd party ad network.  
            p.page-text If you want to gain control over your inventory Supply Side Platform (SSP) is the right solution to monitor how effectively it’s sold and delivered to an ad network.
            p.page-text By using an SSP, a publisher can sell their premium inventory directly to advertiser, while remnant inventory is left for ad networks that is sold via DSP. 
            p.page-text SSPs help publishers to sell their inventory at the most efficient price since publishers can show
              | clear stats to advertiser as to how their website content performs.
            p.page-text The data obtained through SSP platform includes a wide range of statistics such as: 
            p.page-text.m-0  - time, visitors spent on a site;
            p.page-text.m-0  - number of pages visitor views per session;
            p.page-text.m-0  - amount of returning visitors to your site;
            p.page-text.page-text_bold So how basically the selling/buying process looks like?
            p.page-text Auction within an SSP occurs via bid request and bidders via DSP make a decision on what inventory to bid in real time. So when buyers bids through DSP, a buyer with the highest bid wins an auction and thus an ad is shown to a particular buyer.
            p.page-text.page-text_bold What are the benefits of obtaining a custom SSP platform?
            p.page-text Full control over your platform and its data: By crafting your own SSP, you’re having complete control of your data opposed to having a contract with external SSP.
            p.page-text Full platform customization: You can add new product features to your SSP, optimize your inventory and understand its performance at a more advanced level.
            p.page-text No more hidden fees and commissions: You won’t have to pay extra fees to 3rd party SSP platforms. 
            p.page-text Save time and gain more revenue: by crafting your own SSP you won’t have to spend weeks on contacting 3rd party SSP platforms and, thus, generate more revenue for your business, creating more opportunities for your future projects.
            p.page-text Our dev team gained unique experience in building and maintaining customized SSP projects for more than 5 years. We can pick up a right solution for your business and build a platform meeting your company or client goals.



    .advertising-page__content.advertising-page__gradient-two.pt-0
      .page-image-block.advertising-page__bg-solution.advertising-page__bg-position-one
      .page-wrapper.advertising-page__title-tds-position
          h2.page-big-title Web Design Solutions

          p.page-text Web design advertising is a complicated but enjoyable process which requires significant expertise and time.
          p.page-text You can spend countless hours and waste your investment on partnering with standalone webmasters and other amateurs located in Asia by risking your company’s reputation or you can entrust your project to our professional web designers.
          p.page-text Our expert team includes: graphic artists, developers, marketers, project managers etc.          p.page-text We have been dealing with developing and designing websites and web applications for clients around the globe for more than 5 years. Our dedicated team has been crafting custom projects for iOS, Android and the web.
          p.page-text Our key goal is to provide a unique and quality design project to each and every client and this can only be achieved through close collaboration and mutual understanding of a concept.
          p.page-text.mb-90 Whether you’re in a search for sophisticated, customized design project or a simple business card website our web advertising team is skilled enough to make it happen.



    .advertising-page__content.advertising-page__gradient-one.pt-0
      .page-image-block.advertising-page__bg-software
        .page-wrapper
          h2.page-big-title.advertising-page__title-software-position Antifraud & Scoring Software

      .page-wrapper.mt-100
        p.page-text Our expert advertising team has been creating ad fraud detection software for different clients around the world.  
        p.page-text Our antifraud tools can detect malicious activity and identify unwanted intrusions at earlier stages so you can better optimize your budget towards top quality inventory. 
        p.page-text These tools aimed at monitoring user behavior and detect potentially harmful and fraudulent actions, transactions etc.
        p.page-text Our antifraud software ensures every ad is delivered to real humans so marketers will get maximum results without wasting their budget on fake traffic. 
        p.page-text We’ve has been constantly evolving and running multiple tests on a daily basis to make sure a user’s not getting machine generated traffic, thus maximizing company’s net revenue. 

        .dual__row
          .dual__cel
            .page-card
              .page-card__header Our product features:
                .page-card__text Behavioral analysis;
                .page-card__text IP analysis;
                .page-card__text Geolocation detection;
                .page-card__text Connection type detection;
          .dual__cel 
            .page-card
              .page-card__header Proxy Detection Tool
                .list
                  .list__item VPN/Proxy detection algorithm;
                  .list__item Real-time scoring;
                  .list__item Anonymizer detection;
                  .list__item Connection spoofing prevention;
                  .list__item User and transaction quality control;

        .dual__row
          .dual__cel
            .page-card
              .page-card__header Click Antifraud Tool
                .list
                  .list__item Invalid traffic analysis
                  .list__item Device switching & geo-location spoofing  
                  .list__item Fraudulent click traffic detection on early stages
                  .list__item Instant API Integration

          .dual__cel 
            .page-card
              .page-card__header Bot Detection Tool
                .list
                  .list__item Proactive bot analysis
                  .list__item Advanced non-human traffic detection technology
                  .list__item Click fraud detection
                  .list__item Real-time updates 
                  .list__item Bot fingerprinting technology
                  .list__item Bot behavior data accumulation from multiple websites
                  .list__item False-positive prevention 



    .advertising-page__content.advertising-page__gradient-two.pt-0
      .page-image-block.advertising-page__bg-operation.advertising-page__bg-position-one
      .page-wrapper.advertising-page__title-tds-position
          h2.page-big-title Ad operation Services

          .advertising-page__last-container
            p.page-text For publishers, programmatic operations mean optimizing their yield and gaining more revenue for their inhouse inventory. It’s managing a demand sources, price optimization, managing open and private marketplaces, performance and revenue reports etc.
            p.page-text The key goal of programmatic ad operations is to monitor the activity of open and private marketplaces and maximize the revenue flows.
            p.page-text.page-text_bold Our core competencies:
            .list
              .list__item - Media Buying/Planning Services;
              .list__item - Expertise in buying/selling programmatic media;
              .list__item - Ad trafficking tools;
              .list__item - Setting up campaigns with brand safety features included;
              .list__item - Retargeting campaign services;
              .list__item - Pulling campaign reports, optimization and analysis;

            h4.page-subtitle Optimize your campaign with our in-house experts
            p.page-textThis is vitally important to optimize your ad campaign the right way and gain maximum performance. This can be achieved through tracking your campaign performance at all levels: creative verification and optimization, site optimization, managing and tracking your audience, setting up brand safety tools etc.  We will help you to identify an issue and get things optimized the best possible way.

            h4.page-subtitle Manage your inventory discrepancy intelligently
            p.page-textThis Ad serving process often comes with discrepancy issues. This usually happens when multiple ad servers are used within one ad campaign. This can be easily resolved by our dedicated ad ops team with years of experience in creating, managing and optimizing ad campaigns. By using our ad server tools and dedicated approach we will easily handle your impression or click discrepancy in no time.

            h4.page-subtitle Day-to-Day Assistance
            p.page-textThis We will assist you in managing your daily routine tasks. Whether it’s a guaranteed, retargeting or display campaign, our ad ops team can cope with any complicated task.
            p.page-textThis Our dedicated ad ops experts are experienced in campaign management and optimization, ad trafficking, buying and selling different types of inventory. We can handle any client request and complete a project quickly and accurately.
