extends partials/layout
include partials/mixins

block content
  .pb-gradient.pb-gradient_one
    .ds-wrapper
      +pageSubheader('TDS')(class='development-page__bg-tds')

      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab sequi rat

  .pb-gradient.pb-gradient_two
    .ds-wrapper
      +pageSubheader('TDS')(class='development-page__bg-tds')

      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab sequi rat