extends partials/page

block vars
  - var title = 'Development'

block page-content
  span#logo-wrapper.logo-wrapper.logo-visible
      a(href="index.html")
        img(src='img/logo.svg', id='logo')

  .development-page
      .development-page__top
        .page-accent
          span.page-accent__text.text-parallax development
          .page-accent__text-wrapper
            .page-accent__bg.box-parallax
            span.page-accent__text.page-accent__text-white.text-parallax development

      .development-page__content.development-page__gradient-one.mt-0
        +pageTitle('development')

        .page-wrapper
          h2.page-big-title Open RTB

        .page-block
          p.page-text Open RTB protocol allows to completely automate media buying and selling process. This makes online advertising easier, less time consuming and more efficient for both agencies and publishers in creating, setting up and running an ad campaign. Thus, costs are reduced, thereby improving profitability.
          p.page-text Experience the power of our Open RTB solutions to fully automate your ad campaigns while optimizing your ad inventory management, yield optimization and geo targeting. The technology innovations in the ad space made digital advertising stronger and more transparent.
          p.page-text Our RTB platform has been designed to buy and sell traffic in real time with a complex hierarchy of goals and one of a kind fraud protection system with delays of less than 20ms and can handle more than 50,000 QPS either for a server or cloud solution. 
          p.page-text We have been developing RTB platform solutions for advertising agencies, DSPs/SSPs, software development companies and various clients for more than 5 years.  We have huge experience in dealing with RTB platform development as well as providing DSP/SSP SAS solutions and are able to cater to specific needs even the most sophisticated client.


      .development-page__content.development-page__gradient-two.pt-0
        .ds-wrapper
          +pageSubheader('TDS')(class='development-page__bg-tds page-image-block__top')

        .page-block
            p.page-text.mt-52 Traffic distribution system (TDS) is a tool every media buyer/advertiser should have to optimize various offers/campaigns more efficiently.
            p.page-text You can utilize this tool to monitor and control how much of your media traffic is allocated for a certain offer/campaign as well as target the right traffic exactly where you need it to.
            p.page-text TDS allows you to monitor your campaigns/offers in real-time and re-distribute traffic to any landing page, product or your offer for a specific campaign automatically. We can customize and build TDS the way you need it, catering to your product or your client need. 
            h4.page-subtitle.mt-22 TDS is the core of your traffic.
            p.page-text You don’t need to spend hours to get your campaigns up and running while using TDS. All you need to do is to set up rules and split traffic sources and redirect it to a specific campaign or brand. TDS is an essential tool for any marketer or agency that cares about its revenue and wants to increase its ROI to a next level.
            p.page-text We’ve been developing TDS platforms for various clients around the globe and are able to customize each platform according to your individual need.  If you have any suggestions about how you want your product to be done, just send a quick note and we will draft a proposal for you in no time.



      .development-page__content.development-page__gradient-one.pt-0
        .ds-wrapper
          +pageSubheader('Custom DSP Development Services')(class='development-page__bg-services')

        .page-block.mt-md-50.mb-md-50
          p.page-text Get rid of commissions paid to 3rd party DSP/SSP companies and safe your time connecting to intermediaries for weeks, gain more control over your data and your media buying/selling process.

          .page-dual__row
            .page-dual__cel
              h4.page-subtitle.mt-22 Custom DSP gives you a wide range of opportunities: 
            .page-dual__cel
              p.page-text Save even more on media buys: Minimize fees paid to external DSP companies and calculate cost more accurately of each media purchase you do.
              p.page-text Full platform customization: create your own custom trading strategies, optimize algorithms more accurately, create custom features to get your ad/targeting performance to a new level.
              p.page-text Boost your revenue: You can sell your custom DSP to clients, therefore, driving more revenue to your company.
              p.page-text Complete integration with other ad tech platforms: you can keep all your media-buying activity in house by integrating your custom DSP with other similar platforms.
              p.page-text We possess a unique experience, in-depth knowledge of building, designing and maintaining successful DSP projects for more than 5 years. Our experienced ad tech team can help you solve your business needs by crafting a custom DSP platform in accordance with your particular demands. 

          .page-dual__row
            .page-dual__cel 
              h4.page-subtitle.mt-22 Custom SSP Development Services
            .page-dual__cel
              p.page-text A key goal of an SSP is to help publishers manage programmatic/unsold inventory, boost its revenue and sell it to the right 3rd party ad network.  
              p.page-text If you want to gain control over your inventory Supply Side Platform (SSP) is the right solution to monitor how effectively it’s sold and delivered to an ad network.
              p.page-text By using an SSP, a publisher can sell their premium inventory directly to advertiser, while remnant inventory is left for ad networks that is sold via DSP. 
              p.page-text SSPs help publishers to sell their inventory at the most efficient price since publishers can show
                | clear stats to advertiser as to how their website content performs.
              p.page-text The data obtained through SSP platform includes a wide range of statistics such as: 
              p.page-text.m-0  - time, visitors spent on a site;
              p.page-text.m-0  - number of pages visitor views per session;
              p.page-text.m-0  - amount of returning visitors to your site;
              p.page-text.page-text_bold So how basically the selling/buying process looks like?
              p.page-text Auction within an SSP occurs via bid request and bidders via DSP make a decision on what inventory to bid in real time. So when buyers bids through DSP, a buyer with the highest bid wins an auction and thus an ad is shown to a particular buyer.
              p.page-text.page-text_bold What are the benefits of obtaining a custom SSP platform?
              p.page-text Full control over your platform and its data: By crafting your own SSP, you’re having complete control of your data opposed to having a contract with external SSP.
              p.page-text Full platform customization: You can add new product features to your SSP, optimize your inventory and understand its performance at a more advanced level.
              p.page-text No more hidden fees and commissions: You won’t have to pay extra fees to 3rd party SSP platforms. 
              p.page-text Save time and gain more revenue: by crafting your own SSP you won’t have to spend weeks on contacting 3rd party SSP platforms and, thus, generate more revenue for your business, creating more opportunities for your future projects.
              p.page-text Our dev team gained unique experience in building and maintaining customized SSP projects for more than 5 years. We can pick up a right solution for your business and build a platform meeting your company or client goals.



      .development-page__content.development-page__gradient-two.pt-0
        .ds-wrapper
          +pageSubheader('Web Design Solutions')(class='development-page__bg-solution page-image-block__top')

        .page-block.mt-md-50
          p.page-text Web design development is a complicated but enjoyable process which requires significant expertise and time.
          p.page-text You can spend countless hours and waste your investment on partnering with standalone webmasters and other amateurs located in Asia by risking your company’s reputation or you can entrust your project to our professional web designers.
          p.page-text Our expert team includes: graphic artists, developers, marketers, project managers etc.          p.page-text We have been dealing with developing and designing websites and web applications for clients around the globe for more than 5 years. Our dedicated team has been crafting custom projects for iOS, Android and the web.
          p.page-text Our key goal is to provide a unique and quality design project to each and every client and this can only be achieved through close collaboration and mutual understanding of a concept.
          p.page-text.mb-md-50 Whether you’re in a search for sophisticated, customized design project or a simple business card website our web development team is skilled enough to make it happen.

      .development-page__content.development-page__gradient-one.pt-0
        .ds-wrapper
          +pageSubheader('Antifraud & Scoring Software')(class='development-page__bg-software')

        .page-block
          p.page-text Our expert development team has been creating ad fraud detection software for different clients around the world.  
          p.page-text Our antifraud tools can detect malicious activity and identify unwanted intrusions at earlier stages so you can better optimize your budget towards top quality inventory. 
          p.page-text These tools aimed at monitoring user behavior and detect potentially harmful and fraudulent actions, transactions etc.
          p.page-text Our antifraud software ensures every ad is delivered to real humans so marketers will get maximum results without wasting their budget on fake traffic. 
          p.page-text We’ve has been constantly evolving and running multiple tests on a daily basis to make sure a user’s not getting machine generated traffic, thus maximizing company’s net revenue. 

          .page-card-wrapper
              .page-card
                .page-card__header Our product features:
                .page-card__content
                  .page-card__text Behavioral analysis;
                  .page-card__text IP analysis;
                  .page-card__text Geolocation detection;
                  .page-card__text Connection type detection;
        
              .page-card
                .page-card__header Proxy Detection Tool
                .page-card__content
                  .list
                    .list__item VPN/Proxy detection algorithm;
                    .list__item Real-time scoring;
                    .list__item Anonymizer detection;
                    .list__item Connection spoofing prevention;
                    .list__item User and transaction quality control;

              .page-card
                .page-card__header Click Antifraud Tool
                .page-card__content
                  .list
                    .list__item Invalid traffic analysis
                    .list__item Device switching & geo-location spoofing  
                    .list__item Fraudulent click traffic detection on early stages
                    .list__item Instant API Integration

              .page-card
                .page-card__header Bot Detection Tool
                .page-card__content
                  .list
                    .list__item Proactive bot analysis
                    .list__item Advanced non-human traffic detection technology
                    .list__item Click fraud detection
                    .list__item Real-time updates 
                    .list__item Bot fingerprinting technology
                    .list__item Bot behavior data accumulation from multiple websites
                    .list__item False-positive prevention 



      .development-page__content.development-page__gradient-two.pt-0
        .ds-wrapper
          +pageSubheader('Ad operation Services')(class='development-page__bg-operation page-image-block__top')

        .page-block.mt-md-50
          .development-page__last-container
            p.page-text For publishers, programmatic operations mean optimizing their yield and gaining more revenue for their inhouse inventory. It’s managing a demand sources, price optimization, managing open and private marketplaces, performance and revenue reports etc.
            p.page-text The key goal of programmatic ad operations is to monitor the activity of open and private marketplaces and maximize the revenue flows.
            p.page-text.page-text_bold Our core competencies:
            .list
              .list__item - Media Buying/Planning Services;
              .list__item - Expertise in buying/selling programmatic media;
              .list__item - Ad trafficking tools;
              .list__item - Setting up campaigns with brand safety features included;
              .list__item - Retargeting campaign services;
              .list__item - Pulling campaign reports, optimization and analysis;

            h4.page-subtitle Optimize your campaign with our in-house experts
            p.page-text This is vitally important to optimize your ad campaign the right way and gain maximum performance. This can be achieved through tracking your campaign performance at all levels: creative verification and optimization, site optimization, managing and tracking your audience, setting up brand safety tools etc.  We will help you to identify an issue and get things optimized the best possible way.

            h4.page-subtitle Manage your inventory discrepancy intelligently
            p.page-text This Ad serving process often comes with discrepancy issues. This usually happens when multiple ad servers are used within one ad campaign. This can be easily resolved by our dedicated ad ops team with years of experience in creating, managing and optimizing ad campaigns. By using our ad server tools and dedicated approach we will easily handle your impression or click discrepancy in no time.

            h4.page-subtitle Day-to-Day Assistance
            p.page-text This We will assist you in managing your daily routine tasks. Whether it’s a guaranteed, retargeting or display campaign, our ad ops team can cope with any complicated task.
            p.page-text.mb-md-50 This Our dedicated ad ops experts are experienced in campaign management and optimization, ad trafficking, buying and selling different types of inventory. We can handle any client request and complete a project quickly and accurately.
