extends partials/layout

block vars
	- var title = "Vogus"

block content
	img.logo(src='img/logo-black.svg', id='logo')
	include partials/menu
	include partials/navigation
	include partials/hero-section
	include partials/about-section
	include partials/services-section
	include partials/development-section
	include partials/outsource-section
	include partials/outstaffing-section
	include partials/contact-section

