extends partials/layout

block vars
	- var title = "Vogus"

block content
	#logo-wrapper.logo-wrapper
		a.logo-wrapper__link(href="index.html")
			img.logo(src='img/logo.svg', id='logo')
	include partials/menu
	include partials/navigation

	include partials/hero-section
	include partials/about-section
	include partials/services-section
	include partials/development-section
	include partials/outsource-section
	include partials/outstaffing-section
	include partials/contact-section

	.hover-logo.hover-logo__left
	.hover-logo.hover-logo__bottom
	.hover-logo.hover-logo__right
	//- .hover-logo.hover-logo__top
		//- a.logo-wrapper__link(href="index.html")
		//- 	img.logo(src='img/logo-black.svg', id='logo')
