extends partials/page

block vars
  - var title = 'Outsourcing'

block page-content
  span#logo-wrapper.logo-wrapper.logo-visible
    a(href="index.html")
      img(src='img/logo.svg', id='logo')

  .outsource-page
    .outsource-page__top
      .page-block
        span.page-block__text.page-block__text-transparent.text-parallax Outsourcing
        .page-block__text-wrapper
          .page-block__bg
          span.page-block__text.page-block__text-white.text-parallax Outsourcing

    .outsource-page__content
      .outsource-page__title-wrapper
        h2.title.page-title
          span.title__slash /
          | outsourcing

      .page-block.pt-lg-50.pb-50
        .page-wrapper
          p.page-text Outsourcing and outstaffing, what’s the main difference? Both terms are pretty much interrelated and they all mean hiring a company for a remote work or an individual who’s working distantly. However, there’s a slight difference between these two terms. 
          p.page-text IT Outsourcing or Business Process Outsourcing (BPO) refers to a practice of hiring a 3rd party company or an employee outside the house to handle some tasks or a set of activities for your company. 
          p.page-text The advantages of using outsourcing services is that it allows your company to concentrate on more important business activities inhouse or acquire some new skills from the outsourced team or individual that is hired.
          p.page-text Thus, you can bring more opportunities to your staff workers, gain more revenue for your company without significant investments and paying for inhouse trainings etc.
          p.page-text The major advantage of using outsourcing services is that it saves much investment and time for a business. Lots of big and small companies resort to outsourcing since this is more efficient to outsource jobs than hire a full-time employee and train him or hire an expert on a full-time basis.
      
      .page-block.page-block_dark.pt-50.pb-50
        .page-wrapper
          p.page-subtitle.mr-40 We’ve been providing outsourcing services for more than five years so we have skills and experience in what we do.  Our expert employees are proud to handle any task needed to satisfy even the most complicated need of our client. 
      
      .page-block.pt-50.pb-50
        .page-wrapper
          p.page-text-bold The core benefits of using our outsourcing services:
          .list
            .list__item Our staff workers are multi-lingual;
            .list__item Save your company’s investments and gain more value for your own employees.
            .list__item Our inhouse experts can handle any sophisticated task since they are skilled and experienced to complete a job perfectly even if it’s complicated or requires more time than expected.
            .list__item Confidentiality guaranteed.  Our staff workers work strictly in a secure environment so all the projects are kept confidential and all the data is kept within the company and is not disclosed to any 3rd parties.

      .page-block.page-block_dark.pt-50.pb-50
        .page-wrapper
          p.page-subtitle.mr-40 Please let us know if you need any outsourcing help and out support team will reach you out immediately.

      .page-image-block.outsource-page__bg-bottom
