extends partials/page

block vars
  - var title = 'Outstaffing'

block page-content
  span#logo-wrapper.logo-wrapper.logo-visible
    a(href="index.html")
      img(src='img/logo.svg', id='logo')

  .outstaffing-page
    .outstaffing-page__top
      .top-cont
        span#side.page-accent__text.page-accent__text-white.text-parallax.transition-0 outstaffing

    .outstaffing-page__content
      #side-text-bottom.span.page-accent__text.text-parallax.pos-fix.transition-0 outstaffing
      .pst-row
        .pst-col
          //- +pageSideText('Outstaffing')
          +pageTitle('outstaffing')

          .page-wrapper.pb-50.pb-lg-90
            p.page-text Outstaffing term means that an outstaffing company hires all the expert individuals who are handling your project and a company or individual will be directly responsible for the quality of completed task or project. 
            p.page-text.mb-md-50 But the key difference is that oustaffing company take all responsibility for the level of experience of certain individuals the company hires on their end. The main advantage of the outstaffing company is it’s quality guarantee but outsourcing can bring you more opportunities in less time. 
            p.page-text.page-text_bold.mb-md-50 The core benefits of using outstaffing services: 
            .list
              .list__item.font-size-lg-18.mb-8 A qualified individual is hired without dealing with any legal stuff, taxation and other paper work.
              .list__item.font-size-lg-18.mb-8 You can always change the amount of employees for the project when you’re using an outstaffing company. 
              .list__item.font-size-lg-18.mb-8 You can always track an activity and performance of a certain employee and make changes if there’s a need.
              .list__item.font-size-lg-18.mb-8 You can cut down your expenses for a certain employee;
              .list__item.font-size-lg-18.mb-8 Complete control over the project;
              .list__item.font-size-lg-18.mb-8 Direct control of your employees via online conferences, etc.
              .list__item.font-size-lg-18.mb-8 No additional fees comparing to outsourcing;

          .page-block.page-block_light.pt-50.pb-50
            p.page-subtitle.m-0 We’ve been providing outstaffing services for more than five years so we will take care about any project you have in no time. Our qualified employees are eager to complete the task of any level and difficulty. 
          
          .page-blockt.pt-50.pb-50.page-wrapper
            p.page-subtitle.m-0 Please let us know if you need any outstaffing help and out support team will reach you out immediately.

          .page-image-block.outstaffing-page__bg-bottom.m-0

        .pst-col
          //- span.pst__text-stiky Outstaffing